body {
    background-color: rgb(253, 187, 244);
}

.box {
    width: 100px; 
    height: 100px;
    border: 3px dashed turquoise 

}
.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
}